<html>
  <head>
    <title>CRUD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Silahkan lengkapi data diri anda</h1>
      <br>
      <form action="/add" method="post">
        <input type="text" placeholder="name" name="name" value="{{
          request.form.name}}">
        <input type="text" placeholder="age" name="usia" value="{{
          request.form.age}}">
        <input class="btn btn-default" type="submit" value="Tambah">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>
